spring:
  datasource:
    url: jdbc:h2:mem:metadatadb
    username: sa
    password: ""
    driver-class-name: org.h2.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    root: INFO
    com.cloud.metadata: DEBUG
    org.hibernate.SQL: DEBUG
