server:
  port: 8083

spring:
  application:
    name: metadata-service
  datasource:
    url: jdbc:h2:mem:metadatadb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
